#teamListContainer, 
#cssEditorContainer,
#codePreviewContainer, 
#codeDisplayContainer
  border: 1px solid black
  margin: 5px
  padding: 10px

#teamDropDownEditor,
#drawResultsButtonsEditor,
#drawResultsListEditor
  display: none

button
  background-color: #c0c0c0
  
  &.active
    background-color: lighten(#c0c0c0, 20%)
    
.inputs
  margin: 5px

select.inputs
  width: 150px

h1 
  margin: 0.3em 0

h4
  margin: 0 0 1em 0