/*
 * index.php styles
 */
nav.row {
  margin: 0 0 20px 0;
  display: none;
}

.navbar-toggle:hover .icon-bar {
  background-color: black;
}

.weektoggledisplay {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #33b5e5;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin: 0 0 20px 1.11%;
  font-weight: bold;
  font-size: 140%;
}

.weeksexpanded {
  margin-bottom: 15px;
}

button.weeknav {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #33b5e5;
  border-radius: 10px;
}

button.weeknav.active {
  background-color: rgba(51, 181, 229, 0.4);
}

.weektitle {
  font-size: 85.71429%;
}

.date {
  font-size: 57.14286%;
  font-weight: normal;
}

.divtitle {
  border-top: 2px solid #33b5e5;
  border-bottom: 1px solid lightgrey;
}

.gamerowcontainer {
  padding: 20px 0;
  display: none;
}

.navbar {
  background-color: #33b5e5;
}

.row h3 {
  margin-left: 1.5%;
  font-size: 250%;
}

.game {
  border-radius: 10px;
  padding: 10px;
  margin: .5% 1%;
}

.score {
  text-align: right;
}

.teamname ~ .score {
  padding-left: 0;
}

.teams .teamname {
  padding-right: 0;
}

.gamerow {
  margin: 0 1%;
}

.notstarted {
  border: 3px solid #0000ff;
  background-color: #b9e1ff;
}

.inprogress {
  border: 3px solid #00ff00;
  background-color: #d1ffd1;
}

.finished {
  border: 3px solid #ff0000;
  background-color: #ffe7e7;
}

.refs, .location {
  font-size: 75%;
  color: #002aaa;
}

/*
 * livescore.php styles
 */
#divDropDown {
  display: none;
}

.teamInfo {
  font-size: 250%;
  text-align: center;
}

.gameInfo {
  font-size: 100%;
  text-align: center;
}

.rowfix {
  margin-left: 0;
  margin-right: 0;
}

/*.scoringPlay
  padding: 15px
  background-color: #e7e7e7
  border-radius: 10px
  margin: 1%
  text-align: center
  font-size: 180%
  border: 1px solid black*/
.scoringInfo {
  font-size: 180%;
  margin: 10px 0;
}

.submit {
  padding: 15px;
  margin: 10px 2%;
}

/*
 * gameinfobody.php styles
 */
.teamInfo {
  font-size: x-large;
  text-align: center;
}

.gameInfo {
  font-size: large;
  text-align: center;
}

.minutesPlayed {
  text-align: center;
  padding: 0;
}

.homeScoringPlay {
  text-align: left;
  padding-left: 30px;
}

.awayScoringPlay {
  text-align: right;
  padding-right: 30px;
}

.border {
  border: 1px black solid;
}

div.row.scoringPlays {
  font-size: large;
}

.versus {
  padding: 0;
}

.scoringPlays > .scoringPlay {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px black solid;
}

.scoringPlays > .time {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px black solid;
}
