.rowfix {
  margin-left: 0;
  margin-right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

#instructions {
  font-size: 110%;
  padding: 5px 25px 25px 25px;
  text-align: center;
}

/*
 * index.php styles
 */
nav.row {
  margin: 0 0 20px 0;
  display: none;
}

.navbar-toggle:hover .icon-bar {
  background-color: black;
}

.weektoggledisplay {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #33b5e5;
  border-radius: 10px;
  text-align: center;
  padding: 15px;
  margin: 0 0 20px 1.11%;
  font-weight: bold;
  font-size: 140%;
}

.weeksexpanded {
  margin-bottom: 15px;
}

button.weeknav {
  background-color: transparent;
  padding: 10px;
  border: 1px solid #33b5e5;
  border-radius: 10px;
}

button.weeknav.active {
  background-color: rgba(51, 181, 229, 0.4);
}

.weektitle {
  font-size: 85.71429%;
}

.date {
  font-size: 57.14286%;
  font-weight: normal;
}

.divtitle {
  border-top: 2px solid #33b5e5;
  border-bottom: 1px solid lightgrey;
}

.gamerowcontainer {
  padding: 20px 0;
  display: none;
}

.navbar {
  background-color: #33b5e5;
}

.row h3 {
  margin-left: 1.5%;
  font-size: 250%;
}

.game {
  border-radius: 10px;
  padding: 10px;
  margin: .5% 1%;
}

.score {
  text-align: right;
}

.teamname ~ .score {
  padding-left: 0;
}

.teams .teamname {
  padding-right: 0;
}

.gamerow {
  margin: 0 1%;
}

.notstarted {
  border: 3px solid #0000ff;
  background-color: #b9e1ff;
}

.inprogress {
  border: 3px solid #00ff00;
  background-color: #d1ffd1;
}

.startedbutnotscored {
  border: 3px solid #ebff00;
  background-color: #f9ffba;
}

.finished {
  border: 3px solid #ff0000;
  background-color: #ffd9d9;
}

.refs, .location {
  font-size: 75%;
  color: #002aaa;
}

.colourLegend {
  margin: 10px 0;
}

.colour {
  padding: 0;
}

.colourLabel {
  font-size: 120%;
  padding-left: 40px;
}

.blueSquare, .greenSquare, .yellowSquare, .redSquare {
  width: 25px;
  height: 25px;
  float: left;
  border-radius: 5px;
}

.blueSquare {
  background-color: #b9e1ff;
  border: 3px solid #0000ff;
}

.greenSquare {
  background-color: #d1ffd1;
  border: 3px solid #00ff00;
}

.yellowSquare {
  background-color: #f9ffba;
  border: 3px solid #ebff00;
}

.redSquare {
  background-color: #ffd9d9;
  border: 3px solid #ff0000;
}

/*
 * livescore.php styles
 */
.passwordInputRow {
  font-size: 200%;
  text-align: center;
  margin-bottom: 20px;
}

.passwordInput {
  max-width: 50%;
}

.passwordFormButton, .selectGameButton {
  margin-left: 15%;
  width: 70%;
  height: 70px;
  font-size: 160%;
}

@media (min-width: 768px) {
  .passwordFormButton, .selectGameButton {
    margin-left: 30%;
    width: 40%;
  }
}

.selectGameButtonRow {
  margin: 25px 0;
}

.homeTeamRow, .awayTeamRow, .divDropDownRow {
  font-size: 180%;
  margin-bottom: 10px;
  text-align: center;
}

.divDropDownRow {
  display: none;
}

.stopScoringDiv {
  text-align: end;
}

.changeScoreForm {
  display: none;
  padding: 10px;
  font-size: 120%;
}

.changeScoreInputRow {
  padding: 5px;
}

.changeScoreFormLabel {
  padding: 0;
  min-width: 130px;
}

#changeScoreFormButton {
  margin-left: 15%;
  width: 25%;
  min-width: 100px;
  height: 40px;
}

.timingInfoLive, .changeScoreFormButtonRow, .stopScoringButtonRow {
  font-size: 150%;
  margin: .5% 1%;
}

.halftime {
  margin-right: .5%;
  width: 49.5%;
}

.fulltime {
  margin-left: .5%;
  width: 49.5%;
}

.teamInfoLive {
  font-size: 170%;
  text-align: center;
}

.scoreInfoLive {
  font-size: 250%;
  text-align: center;
}

.gameInfoLive {
  font-size: 100%;
  text-align: center;
}

.scoringPlayLive {
  font-size: 170%;
  text-align: center;
  padding: 10px 0;
}

.minutesPlayedLive, .minutesPlayedInput,
.descriptionLive, .descriptionInput {
  padding: 0;
}

.scoringInfoLive {
  font-size: 120%;
  margin: 5px 5px;
}

.submit {
  padding: 5px;
  font-size: 150%;
}

.deletePlayButtonRow {
  padding: 5px;
  display: none;
}

.deletePlayButton {
  height: 40px;
  font-size: 120%;
}

/*
 * gameinfobody.php styles
 */
.password, .divDropDownRowEnd {
  display: none;
}

.teamInfo {
  font-size: x-large;
  text-align: center;
}

.gameInfo {
  font-size: large;
  text-align: center;
}

/* CSS for smartphones */
.homeTeamRowEnd, .homeScoreRowEnd,
.awayTeamRowEnd, .awayScoreRowEnd,
.divDropDownRowEnd, .datePickerRowEnd {
  font-size: 140%;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

select#homeTeam, select#awayTeam,
select#divDropDown, input#datePicker {
  height: 50px;
  width: 66%;
}

.titleEnd {
  width: 32%;
  display: inline-block;
}

input#homeScore, input#awayScore {
  width: 36%;
  margin-right: 2%;
}

.submitScoreButton {
  margin-left: 15%;
  width: 70%;
  height: 70px;
  font-size: 160%;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  -ms-transform: scale(1.25);
      transform: scale(1.25);
  /* Webkit browsers*/
  -webkit-transform: scale(1.25);
}

.scoringPlays {
  font-size: 120%;
  margin: 0 5px;
}

.homeScoringPlay {
  text-align: left;
  padding-left: 10px;
  padding-right: 0;
}

.awayScoringPlay {
  text-align: right;
  padding-right: 10px;
  padding-left: 0;
}

@media (min-width: 768px) {
  .homeTeamRowEnd, .homeScoreRowEnd,
  .awayTeamRowEnd, .awayScoreRowEnd,
  .divDropDownRowEnd, .datePickerRowEnd {
    font-size: 160%;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
  select#homeTeam, select#awayTeam,
  select#divDropDown, input#datePicker {
    height: 50px;
    width: 73%;
  }
  .titleEnd {
    width: 25%;
    display: inline-block;
  }
  input#homeScore, input#awayScore {
    width: 50%;
    margin-right: 3%;
  }
  .submitScoreButton {
    height: 70px;
    font-size: 160%;
    margin-left: 30%;
    width: 40%;
  }
  .homeScoringPlay {
    text-align: left;
    padding-left: 30px;
  }
  .awayScoringPlay {
    text-align: right;
    padding-right: 30px;
  }
  .scoringPlays {
    font-size: 150%;
    margin: 0 5px;
  }
}

.minutesPlayed {
  text-align: center;
  padding: 0;
  color: #33b5e5;
}

.border {
  border: 1px black solid;
}

.versus {
  padding: 0;
}

.scoringPlays > .scoringPlay {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px black solid;
}

.scoringPlays > .time {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px black solid;
  color: #33b5e5;
}

.scoringPlays > .update {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 1px black solid;
  color: #33b5e5;
}

.scoringPlays > .gameStart {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  border: 1px black solid;
  color: #33b5e5;
}

.playuploadmessage {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}
