doctype html
html(lang="en")
  head
    title End Game Scoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="bootstrap/js/bootstrap.js")
    script(type="text/javascript", src="javascript.js")
    link(rel="stylesheet", type="text/css", href="styles.css")
    include mixins

  body
    +nav("end")
    
    include endgamebody.php