doctype html
html(lang="en")
  head
    title End Game Scoring
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="bootstrap/css/bootstrap.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="bootstrap/js/bootstrap.js")
    script(src="javascript.js")
    link(rel="stylesheet", href="styles.css")
    include mixins

  body
    +nav("end")