doctype html
html(lang="en")
  head
    title Rugby Draw/Results
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500")
    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript", src="bootstrap/js/bootstrap.js")
    script(type="text/javascript", src="javascript.js")
    link(rel="stylesheet", type="text/css", href="styles.css")
    include mixins

  body
    +nav("draw")
    
    .container-fluid
      .row
        span.col-xs-48#instructions Tap 'Show Weeks' then tap the week you want to view. Tapping the division titles will expand/contract the game list. Tapping a game will allow you to view all the details of the game.
      .row
        .weektoggledisplay.col-xs-47
          .showweeks(onclick="toggleWeeks()") Show Weeks
          nav.row
            +navlinks(0, 1, "23 Mar - 29 Mar")
            +navlinks(1, 2, "30 Mar - 5 Apr")
            +navlinks(2, 3, "6 Apr - 12 Apr")
            +navlinks(3, 4, "13 Apr - 19 Apr")
            +navlinks(4, 5, "20 Apr - 26 Apr")
            +navlinks(5, 6, "27 Apr - 3 May")
            +navlinks(6, 7, "4 May - 9 May")
            +navlinks(7, 8, "11 May - 17 May")
            +navlinks(8, 9, "18 May - 24 May")
            +navlinks(9, 10, "25 May - 31 May")
            +navlinks(10, 11, "1 Jun - 7 Jun")
            +navlinks(11, 12, "8 Jun - 14 Jun")
            +navlinks(12, 13, "15 Jun - 21 Jun")
            +navlinks(13, 14, "22 Jun - 28 Jun")
            +navlinks(14, 15, "29 Jun - 5 Jul")
            +navlinks(15, 16, "6 Jul - 12 Jul")
            +navlinks(16, 17, "13 Jul - 19 Jul")
            +navlinks(17, 18, "20 Jul - 26 Jul")
          
      include scores.php