/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 130 of I:\App Stuff\Website Redesign\admin\admin.sass

125:  *------------------------------- Password ---------------------------------
126:  *--------------------------------------------------------------------------
127:  *\/
128: 
129: #passwordContainer
130:     display: none
131:     
132: #passwordInputRow
133:   font-size: 200%
134:   text-align: center
135:   margin-bottom: 20px

Backtrace:
I:\App Stuff\Website Redesign\admin\admin.sass:130
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:509:in `tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:396:in `run'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
C:/Program Files (x86)/Koala/rubygems/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
C:/Program Files (x86)/Koala/bin/sass:18:in `load'
C:/Program Files (x86)/Koala/bin/sass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 130 of I:\App Stuff\Website Redesign\admin\admin.sass\A \A 125:  *------------------------------- Password ---------------------------------\A 126:  *--------------------------------------------------------------------------\A 127:  */\A 128: \A 129: #passwordContainer\A 130:     display: none\A 131:     \A 132: #passwordInputRow\A 133:   font-size: 200%\A 134:   text-align: center\A 135:   margin-bottom: 20px"; }
